<article class="myWrap">
    <div class="page-header">
        <h1>{{classes[classID-1].txtTitle}}
            <small><em>{{classes[classID-1].txtShortDesc}}</em></small>
        </h1>
    </div>

    <accordion close-others="oneAtATime">
        <accordion-group data-ng-repeat="art in articles" class="panel panel-info" is-open="status.open">
            <accordion-heading><strong>{{$index+1}}.</strong> {{art.txtTitle}}
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>
            {{art.txtdesc}}
            <blockquote>
                <p>Вложение 1</p>
                <p>Вложение 2</p>
            </blockquote>
        </accordion-group>
    </accordion>
</article>
