<article class="myWrap col-md-10 col-xs-12 col-sm-12" data-ng-controller="NewsCtrl">
    <div class="page-header">
        <h1>Новости</h1>
    </div>
    <!-- NEWS BLOCK -->
    <!--  -->
    <div data-ng-repeat="n in lastNews(3) track by $index">
        <!-- News Editor -->
        <news-editor id-in-db="idInDB" id-in-json="idInJSON" data-ng-if="editMode && n.news_id == idInDB"></news-editor>
        <!-- //News Editor -->
        <div class="panel panel-info" data-ng-if="!editMode || (editMode && n.news_id != idInDB)">
            <div class="panel-heading">
                <h3 class="panel-title">{{n.title}}</h3>
            </div>
            <div class="panel-body" data-ta-bind data-ng-model="n.news">
            </div>
            <a data-ng-click="turnEditMode(n.news_id)" data-ng-if="currentUser.userRole == 'admin'">Edit
                {{n.news_id}}</a>
            <a data-ng-really-message="Вы собираетесь удалить запись <strong>«{{n.title}}»</strong> от {{n.date_created|moment: 'lang': 'ru' | moment: 'format': 'LL'}}<br>Продолжить?"
               data-ng-really-click="deleteNews(n.news_id)"
               data-ng-if="currentUser.userRole == 'admin'">Delete
                {{n.news_id}}</a>

            <div data-ng-switch="n.importance" class="panel-footer">
                <small><em>{{n.date_created|moment: 'lang': 'ru' | moment: 'format': 'LL'}}</em></small>
            <span data-ng-switch-when="1"
                  class="label label-warning pull-right">Обратите внимание</span>
            <span data-ng-switch-when="2"
                  class="label label-danger pull-right">Важно</span>
            </div>
        </div>
    </div>
    <!-- PAGER -->
    <nav>
        <ul class="pager">
            <li class="previous" data-ng-click="prevPage()" data-ng-class="{'disabled': CurPage == totalPages}"><a
                    href=""><span aria-hidden="true">&larr;</span> Старые</a></li>
            <li class="next" data-ng-click="nextPage()" data-ng-class="{'disabled': CurPage == 1}"><a href="">Новые
                <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</article>
