<div class="modal-header" >
        <h2 class="form-signin-heading">Вход в панель администратора</h2>
</div>
<div class="modal-body">
    <form class="form-signin" action="../../_protected/auth.php" method="post">
        <input type="user.login" id="login" class="form-control" placeholder="Логин" name="login" required autofocus ng-model="login"><br>
        <input type="password" id="password" class="form-control" placeholder="Пароль" name="password" required ng-model="user.pass">
        <!--<div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Запомнить меня
            </label>
        </div>-->
        </div>
<div class="modal-footer">
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="tryLogin()">Войти</button>
</div>
    </form>
</div>
