body
{
    padding-top: 65px;
    padding-left: 8px;
    /*background: #E5E5E5;*/
    background: url(/public/img/bg2.jpg) repeat;
}

.myWrap
{
    margin: 0 auto;
    padding: 12px 20px;
    background: #FFF;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.53); /*Chrome 4-9 */
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.53); /*FF 3.5-3.6 */
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.53);
    float: inherit;
}

.right-align
{
    text-align: right;
}
    
.panel-footer
{
    background-color: #FAFAFA;
}

.navbar-inverse
{
    background: #436586;
    border-bottom: #324B64;
}

.navbar-inverse .navbar-brand
{
    color: #DBE4ED;
}

.navbar-inverse .navbar-nav > li > a
{
    color: #DBE4ED;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover
{
    background-color: #324B64;
}

.panel
{
    border-color: #98B2CB;
}

.panel-info > .panel-heading
{
   background: #DBE4ED;
   border-color: #98B2CB;
}

.alert
{
    margin: 6px auto;
    width: 50%;
    /*position: absolute; */
}

.accordion-footer
{
    margin: -15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    background-color: #FAFAFA;
}

/* Bs-callout by Chris Pratt */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}