<article class="myWrap col-md-10 col-xs-12 col-sm-12">
    <div class="page-header">
        <h1>Управление группой {{vm.group.title}}</h1>
    </div>
    <div class="row" data-ng-if="vm.group.teacher_id == wrap.currentUser.userId">
        <tabset justified="true" class="col-md-9">
            <tab heading="Курсы">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            Курс
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tr class="pointer"
                        data-ng-repeat="discipline in vm.disciplines track by discipline.discipline_id"
                        data-ng-if="discipline.is_creator"
                        data-ng-click="vm.setAccess(discipline.discipline_id, $index)"
                        data-ng-class="{success: discipline.access}">
                        <td>{{discipline.title}}</td>
                        <td><span class="glyphicon glyphicon-ok" data-ng-if="discipline.access"></span></td>
                    </tr>
                </table>
                <button data-ng-if="vm.changed"
                        class="btn btn-primary pull-right animate-if"
                        data-ng-click="vm.saveAccessData()">
                    Сохранить
                </button>
            </tab>
            <tab heading="Подписчики">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Группа</th>
                        <th>Права</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tr data-ng-repeat="user in vm.subscribers">
                        <td>{{user.surname}} {{user.name}} {{user.patronymic}}</td>
                        <td>{{user.group}}</td>
                        <td>{{user.is_editor}}</td>
                        <td>
                            <button type="button"
                                    class="btn btn-danger btn-xs"
                                    data-ng-click="vm.unsubscribeUser(user.user_id)">
                                        <span
                                                class="glyphicon glyphicon-minus"
                                                aria-hidden="true">
                                        </span>
                            </button>
                        </td>
                    </tr>
                </table>
            </tab>
        </tabset>

        <div class="col-md-3">
            <h4>Управление</h4>
            <hr>
            <form class="form-horizontal col-md-12" method="post" name="groupParams">
                <div class="form-group">
                    <label for="title">Название: </label>
                    <input type="text" class="form-control" id="title" data-ng-model="vm.group.title"
                           placeholder="Будет известно только вам">
                </div>
                <div class="form-group">
                    <label for="passcode">Кодовое слово: </label>
                    <input type="text" class="form-control" id="passcode" data-ng-model="vm.group.passcode"
                           placeholder="Передайте его тем, кого хотите пригласить в группу">
                </div>

                <div class="form-group">
                    <label for="expiration">Срок действия кодового слова: </label>

                    <span class="input-group" data-ng-hide="modal.turnExpiration == 1">
                        <span class="input-group-addon">
                            <input type="checkbox" data-ng-model="vm.expirationOn" data-ng-change="vm.turnExpiration()">
                        </span>
                        <input id="expiration" type="text" class="form-control"
                               data-datepicker-popup="dd.MM.yy"
                               data-ng-model="vm.group.expire_date"
                               data-is-open="vm.opened"
                               data-min-date="vm.minDate" data-datepicker-options="vm.dateOptions"
                               data-ng-required="true"
                               data-show-button-bar="false"
                               data-ng-disabled="!vm.expirationOn"
                               data-ng-click="vm.open($event)"
                               placeholder="БЕССРОЧНО"
                               readonly/>
                            <span class="input-group-btn">
                            <button type="button" data-ng-disabled="!vm.expirationOn" class="btn btn-default"
                                    data-ng-click="vm.open($event)"><i
                                    class="glyphicon glyphicon-calendar"
                                    ></i></button>
                            </span>
                    </span>
                </div>
                <div class="form-group pull-right">
                    <button type="button" class="btn btn-danger"
                            data-ng-really-message="<strong>Внимание!</strong><br>Вы собираетесь безвозвратно удалить группу <strong>«{{vm.group.title}}»</strong>  и всю связанную с ней информацию.<br>Продолжить?"
                            data-ng-really-click="vm.deleteGroup()">
                        Удалить группу
                    </button>
                    <button class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</article>