<div class="modal-header">
    <h3 class="modal-title">Новая группа</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="title">Название: </label>
        <input type="text" class="form-control" id="title" data-ng-model="modal.group.title"
               placeholder="Будет известно только вам">
    </div>

    <div class="form-group">
        <label for="passcode">Кодовое слово: </label>
        <input type="text" class="form-control" id="passcode" data-ng-model="modal.group.passcode"
               placeholder="Передайте его тем, кого хотите пригласить в группу">
    </div>
    <div class="row">
        <div class="col-sm-9">
            <label for="expiration">Срок действия кодового слова: </label>

            <p class="input-group" data-ng-hide="modal.turnExpiration == 1">
                <input id="expiration" type="text" class="form-control" data-datepicker-popup="dd MMMM yyyy"
                       data-ng-model="modal.group.expiration"
                       data-is-open="modal.opened"
                       data-min-date="modal.minDate" data-datepicker-options="modal.dateOptions"
                       data-ng-required="true"
                       data-show-button-bar="false"
                       data-ng-disabled="modal.turnExpiration == 1"
                       data-ng-click="modal.open($event)"
                       readonly/>
              <span class="input-group-btn">
                <button type="button" data-ng-disabled="modal.turnExpiration == 1" class="btn btn-default"
                        data-ng-click="modal.open($event)"><i
                        class="glyphicon glyphicon-calendar"
                        ></i></button>
              </span>
            </p>
            <!-- DateTime picker placeholder (showing then switcher is ON) -->
            <p class="input-group" data-ng-if="modal.turnExpiration == 1"><input id="expirationPlaceholder" disabled
                                                                                 placeholder="БЕССРОЧНО"
                                                                                 class="form-control">
                              <span class="input-group-btn">
                <button type="button" class="btn btn-default" disabled><i
                        class="glyphicon glyphicon-calendar"
                        ></i></button>
              </span></p>
            <!-- //Placeholder -->
        </div>
        <div class="col-sm-3">
            <div><label for="needExp">Бессрочно?</label></div>
            <div class="btn-group btn-toggle">
                <button id="needExp" class="btn btn-default" data-ng-model="modal.turnExpiration" data-btn-radio=1
                        data-ng-class="{'active btn-primary': modal.turnExpiration == 1}">ДА
                </button>
                <button class="btn btn-default" data-ng-model="modal.turnExpiration" data-btn-radio=0
                        data-ng-class="{'active btn-primary': modal.turnExpiration == 0}">НЕТ
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="modal.ok()">OK</button>
    <button class="btn btn-warning" data-ng-click="modal.cancel()">Отмена</button>
</div>