<article class="myWrap col-md-10 col-xs-12 col-sm-12">
    <div class="page-header">
        <h1>Новости
            <button type="button" class="btn btn-default btn-lg pull-right" data-ng-click="news.newPost()"
                    data-ng-if="wrap.currentUser.userRole == 'admin'">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span class="hidden-xs">Новая</span>
            </button>
        </h1>
    </div>
    <!-- NEWS BLOCK -->
    <!--  -->
    <news-editor data-ng-if="news.postMode" class="repeat-animation"></news-editor>
    <div data-ng-repeat="n in news.currentPageNews(3) track by $index">
        <!-- News Editor -->
        <news-editor data-ng-if="news.editMode && n.news_id == news.idInDb" class="animate-enter"></news-editor>
        <!-- //News Editor -->
        <div class="panel panel-info" data-ng-if="!news.editMode || (news.editMode && n.news_id != news.idInDb)"
             data-ng-hide="!n.news_id">
            <div class="panel-heading">
                <div class="pull-right">
                    <button type="button" class="btn btn-primary btn-xs" data-ng-click="news.editPost(n.news_id)"
                            data-ng-if="wrap.currentUser.userRole == 'admin'">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-danger btn-xs"
                            data-ng-really-message="Вы собираетесь удалить запись <strong>«{{n.title}}»</strong> от {{n.date_created|moment: 'lang': 'ru' | moment: 'format': 'LL'}}<br>Продолжить?"
                            data-ng-really-click="news.deleteNews(n.news_id)"
                            data-ng-if="wrap.currentUser.userRole == 'admin'">
                        <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                    </button>
                </div>
                <h3 class="panel-title">{{n.title}}
                </h3>
            </div>
            <div class="panel-body" data-ta-bind data-ng-model="n.news">
            </div>

            <div data-ng-switch="n.importance" class="panel-footer">
                <span data-ng-switch-when="1"
                      class="label label-warning pull-right">Обратите внимание</span>
                <span data-ng-switch-when="2"
                      class="label label-danger pull-right">Важно</span>
                <!-- Date formatting for large devices -->
                <div class="hidden-xs">
                    <small><em>{{n.date_created|moment: 'lang': 'ru' | moment: 'format': 'LL'}}</em></small>
                </div>
                <!-- Date formatting for small devices -->
                <div class="visible-xs">
                    <small><em>{{n.date_created|moment: 'lang': 'ru' | moment: 'format': 'L'}}</em></small>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGER -->
    <pager total-items="news.totalItems" ng-model="news.currentPage" items-per-page="3" next-text="Старые »"
           previous-text="« Новые"></pager>
</article>
